# IntelliJ
.idea/
*.iml

#Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry

# Environment files
.env

# OS
.DS_Store